<div class="flex flex-wrap container mx-auto py-6 lg:px-0 px-4">
  <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6">
    <div class="bg-white shadow rounded p-8">
      <%= yield :primary_content %>
    </div>
  </div>
  
  
</div>
