<% content_for :community_label, "Create review" %>

<% content_for :primary_content do %>
  <h1 class="text-3xl font-bold mb-6">New review</h1>
  <%= render "form", review: @review %>
<% end %>

<% content_for :secondary_content do %>
  <%= render "guidelines" %>
<% end %>

<%= render "basic_layout" %>
